<mat-toolbar style="height: {{toolbarHeight}}px;">
    <img src="assets/images/banner.png">
</mat-toolbar>
<div class="content" #content>
    <div class="intro">
        <h1>Introduction</h1>
        <p>2020 is over.</p>
        <p>It was my first full year freelance and I&rsquo;m glad to recap hereafter all the applications I&rsquo;ve built in the past year.</p>
        <p>It was so exciting to start from some simple ideas and to end up with working prototypes.</p>
        <p>At each steps towards the achievements, I've learnt something new.</p>
        <p>It's been challenging to complete by the deadlines and I'm proud to have competed with such talented other hackers from all around the world.</p>
        <p>Finally I'm grateful for the valuable prizes and grants my work has been awarded.</p>
        <p>This was a great experience and, from that point of view, 2020 was a rich year.</p>
        <p>I would like to thank everyone who has trusted in me, appreciated my work, supported and encouraged me.</p>
        <h2>Stay tuned, I'm sure in 2021 I'll jump even higher!</h2>
        <img src="assets/jump_to_2021.jpg">
        <hr>
        <h1>Applications</h1>
    </div>
    <div fxLayout="row wrap" fxLayoutGap="32px grid" fxLayoutGap.xs="16px grid">
        <div fxFlex="400px" fxFlex.xs="340px" *ngFor="let project of projects">
            <mat-card class="mat-elevation-z4">
                <mat-card-header>
                    <mat-card-title>{{project.title}}</mat-card-title>
                    <mat-card-subtitle>{{project.subtitle}}</mat-card-subtitle>
                </mat-card-header>
                <div class="card-img">
                    <img mat-card-image src="{{project.images.main}}">
                </div>
                <mat-card-content>
                    <div class="markdown">
                        <markdown emoji [data]="project.markdown" class="markdown"></markdown>
                        <div *ngIf="project.award" class="award"><img src="assets/award.png"></div>
                    </div>
                    <div fxLayout="row wrap" fxLayoutGap="2px grid">
                        <div fxFlex="12%" *ngFor="let stackItem of project.stack" class="stackItem">
                            <img src="{{STACK_IMAGES[stackItem].img}}" matTooltip="{{STACK_IMAGES[stackItem].tooltip}}">
                        </div>
                    </div>
                </mat-card-content>
                <mat-card-actions>
                    <div fxLayout="row" fxLayoutGap="4px" fxLayoutAlign="center start">
                        <!-- <a *ngIf="project.demo" mat-button href="{{project.demo}}" target="_blank">DEMO</a>
                    <a *ngIf="project.video" mat-button href="{{project.video}}" target="_blank">VIDEO</a>
                    <a *ngIf="project.repo" mat-button href="{{project.repo}}" target="_blank">REPOSITORY</a>
                    <a *ngIf="project.article" mat-button href="{{project.article}}" target="_blank">ARTICLE</a> -->
                        <a [disabled]="!project.demo" mat-button href="{{project.demo}}" target="_blank">
                            <!-- <mat-icon>videogame_asset</mat-icon> -->
                            <mat-icon>ondemand_video</mat-icon>
                            DEMO
                        </a>
                        <a [disabled]="!project.video" mat-button href="{{project.video}}" target="_blank">
                            <img src="assets/clap.png" class="mat-icon" [ngStyle]="{'opacity': project.video ? '1' : '0.25'}">VIDEO
                        </a>
                        <a [disabled]="!project.repo" mat-button href="{{project.repo}}" target="_blank">
                            <img src="assets/GitHub-Mark.png" class="mat-icon" [ngStyle]="{'opacity': project.repo ? '1' : '0.25'}">CODE
                        </a>
                        <a fxFlex="80px" [disabled]="!project.article" mat-button href="{{project.article}}" target="_blank">
                            <mat-icon>description</mat-icon>
                            ARTICLE
                        </a>
                    </div>
                </mat-card-actions>
            </mat-card>
        </div>
    </div>
</div>
