:host {
    width: 100%;
}

.content {
    // padding: 16px;
    margin: 5%;
}

mat-toolbar>img {
    width: 100%;
}

mat-toolbar {
    background: none;
}

mat-card-header {
    // height: 82px;
}

mat-card-subtitle {
    font-weight: bold;
    font-size: larger;
}

.card-img {
    // height: 280px;
    margin: 6px;
}

.markdown {
    // height: 200px;
    position: relative;
}

mat-card-content {
    // height: 180px;
    background-color: #eeeeee;
    border-radius: 8px;
    padding: 12px;
    margin-left: -6px;
    margin-right: -6px;
}

mat-card {
    //     width: 200px;
    // height: 580px;
    padding-bottom: 36px;
    // min-width: 250px;
    border-radius: 16px;
    background-color: #bbbbbb;
}

.stackItem>img {
    height: 30px;
    // max-width: 40px;
}

.award {
    position: absolute;
    bottom: 0px;
    right: -12px;
}

.award>img {
    height: 64px;
}

.intro>img {
    max-width: 300px;
    width: 100%;
    // margin: 5%;
}

mat-card-actions {
    // position: absolute;
    // bottom: 16px;
    font-size: small;
}

mat-card-actions>div>a {
    padding: 0px;
    // padding-bottom: 0;
    // margin: 0;
}

.mat-button {
    font-size: smaller;
    // background-color: #eeeeee;
    background-color: #eeeeee;
    border-radius: 4px;
    // border-radius: 4px;
}

.intro {
    font-size: larger;
}

.intro>h1 {
    font-family: Graphik Web, Arial, Helvetica, sans-serif;
    font-weight: 600;
}
